.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  background-color: var(--color-secondary);
}

.nav-bar-logo {
  font-size: 2rem;
  color: var(--color-primary);
  padding: 1rem;
  padding-left: 2rem;
}

.nav-bar-leftGroup {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2rem;
  width: 15rem;
}
